<div class="container-helperscores">
  <div class="helperreviews">
    <div class="helperscores">
      NA
    </div>
    <div class="txt-helperscoreexplain">
      <div class="txt-helperscoreexplain">
      Friendliness
    </div>
    </div>
  </div>
  <div class="helperreviews">
    <div class="helperscores">
      NA
    </div>
    <div class="txt-helperscoreexplain">
      Happy with help
    </div>
  </div>
  <div class="helperreviews">
    <div class="helperscores">
      NA
    </div>
    <div class="txt-helperscoreexplain">
      On time
    </div>
  </div>
  <div class="helperreviews">
    <div class="helperscores">
      NA
    </div>
    <div class="txt-helperscoreexplain">
      Recommended
    </div>
  </div>
</div>
