.confirmation-container{
  background-color: #FFF2CE;
  border: 0.5px solid #FCC010;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  text-align: left;
  border-radius: 10px;
  color: #20124D;
  width: 80%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px;
  width: 700px;

    h5 {
    margin-bottom: 10px;
  }

    #btn-dashboard{
      background-color: #fcc010;
      border-radius: 5px;
      align-items: center;
      color: #20124D;
      width: fit-content;
      text-align: center;
      padding: 10px;
      margin: 20px;
      font-weight: bold;
      &:hover{
        background-color: #eeb303;
        text-decoration: none;

      }
    }
}

.img-confirmation{
  height: 300px;
  width: 400px;
}

.container-confirmation-page {
  display: flex;
  justify-content: space-between;
  margin-left: 133px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.title-confirmation {
margin-bottom: 60px;


}

.request-details-confirmation {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr  1fr;

}

.icon-conf {
  display: flex;
  justify-content: left;

 p {
  padding-left: 5px;

   }

  i {
    color: #fcc010;
  }
}
