.confirmation-container{
  background-color: #FFF2CE;
  border: 0.5px solid #FCC010;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  text-align: left;
  border-radius: 10px;
  color: #20124D;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px 50px 20px 50px;
  width: 600px;
  margin-left: 133px;
  margin-top: 50px;
  margin-bottom: 150px;

    h5 {
    margin-bottom: 10px;
  }

}

.img-confirmation{
  height: 300px;
  width: 400px;
}

.container-confirmation-page {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1603792907191-89e55f70099a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
    height: 100%;



}

.title-confirmation {
margin-bottom: 60px;


}

.request-details-confirmation {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr  1fr;

}

.icon-conf {
  display: flex;
  justify-content: left;

 p {
  padding-left: 5px;

   }

  i {
    color: #fcc010;
  }
}

.request-title {
   padding-bottom: 20px;
}

.what-new-confirmation {
padding-left: 40px;
margin-right: 70px;
padding-top: 300px;
padding-bottom: 100px;
text-align: center;
color: #fffcf4;
text-shadow: 1px 1px 3px rgba(0,0,0,0.4);


  h5  {
    font-size: 30px;
  }

  p {
     font-size: 18px;
  }
}

 #btn-dashboard{
      background-color: #fcc010;
      border-radius: 5px;
      align-items: center;
      color: #fffcf4;
      width: fit-content;
      text-align: center;
      padding: 15px;
      margin: 20px;
      font-weight: 600;
      text-shadow: none;
      &:hover{
        background-color: #eeb303;
        text-decoration: none;

      }
 }

.btn-confirmation-how {
  padding-top: 30px;
}
