.coupon-style{
  border: 3px dotted #FCC010; /* Dotted border */
  width: 80%;
  border-radius: 15px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  max-width: 600px;
  margin-bottom: 30px;
  transition: 0.5s;

     &:hover {
    box-shadow:  0 0 15px rgba(0,0,0,0.4);
    transform: translate(10px, -10px);
    text-decoration: none;
  }
}

.container-coupons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 24px 70px;


}

.card-coupon{
  background: #fef2ce;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 2px 16px;
  background-color: #fef2ce;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  color: #20124D


}

.img-coupon{
  backdrop-filter: blur(60px);
  img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 15px;
     border-top-right-radius: 15px;


  }
}

.txt-couponname{
  backdrop-filter: blur(60px);
  text-align: center;
  padding: 16px 16px 8px 16px;
  // background-color: #f7c033;
}

.eyeline-coupon{
  margin: 8px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  min-height: 64px;
  align-items: end;

}

.takeout{
  border-bottom: 3px dotted #FCC010;
  height: max-content;
}

.coupon-description{
  margin-right: 8px;
  font-size: 14px;
}

.coupon-price{
  margin-left: 8px;
  text-align: right;
  border-radius: 4px;
  background-color: white;
  text-align: center;
  padding: 5px;
  color: #FCC010;
  border: 2px solid #FCC010
}

.coupon-header{
  height: 200px;
  background-color: #FCC010;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:30px;

  h1 {
    color: #20124D
  }

  h2{
    font-size: 24px;
    color: #20124D
  }
}

.coupon-button {
  display: grid;
  text-align: center;
  border-radius: 4px;

}

.balance-silverpoints-index {
  border-radius: 10px;
  border: 2px solid #20124D;
  background-color:#fef2ce;
  color: #20124D ;
  padding: 10px;
  position:absolute;
  right: 70px

}

.coupon-style-ds {
  width: 200px;
  border-radius: 15px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  max-width: 600px;
  margin-bottom: 30px;
  transition: 0.5s;
  border: 2px dotted #20124D;

     &:hover {
    box-shadow:  0 0 15px rgba(0,0,0,0.4);
    transform: translate(10px, -10px);
    text-decoration: none;
  }

  h3 {
    font-size: 15px;
    text-align: center;
  }
}

.img-index-coupon {
  width: 195px;
  display: flex;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
}

.txt-couponname-ds {

  h3 {
    padding: 10px;
  }
}
