.dashboard-container{
  background-image: url("https://i.ibb.co/NLXqywC/mega-creator-14.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  background-color: whitesmoke;

  h1{
    text-align: center;
    padding: 40px 0px 10px 0px;
    color: #20124D;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: bold;
    line-height: 59px;
  }
}

.dashboard-elements-container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: fit-content;
  padding: 0px 20px 0px 20px;
}

.dashboard-horizontal-elements{
  margin: 30px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
}

.dashboard-element{
  height: fit-content;
  border-radius: 10px;

  margin-bottom: 40px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  h3 {
    color: #20124D;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 59px;
  }
}

.dashboard-element-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dashboard-element-profile{
  height: fit-content;
  border-radius: 10px;
  margin: 30px;
  grid-column-start: 1;
  grid-column-end: 1;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
    h3{
      padding: 20px;
      color: #20124D;
    }
    p{
      margin: 10px;
    }
    .profile-card-text{
      margin: 0px 20px 10px 20px;
      border-radius: 5px;
      padding: 10px;
      height: fit-content;
      width: fit-content;
      #btn-edit-profile{
      margin: 25px;

    }
    }
}

.dashboard-element-reward{
  background-color: #FCC010;
  grid-column-start: 1;
  grid-column-end: 1;
  border-radius: 5px;
  margin: 10px 30px 30px 30px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
    h3{
      padding-top: 20px;
      color: #20124D;
    }
    p{
      font-size: 30px;
      color: #20124D;
    }
}

.dashboard-element-item{
  display: flex;
  align-items: center;
  background-color: #FCC010;
  border-radius: 5px;
  margin: 20px;
  line-height: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h6{
    padding: 10px;
  }
  p{
    width: fit-content;
    padding: 10px;
    text-align: center;
    position: relative;
  }
  #request-avatar{
      height: 120px;
      width: 120px;
  }
  .far, .fas{
    padding: 6px;
    color: #20124D;
    font-size: 25px;
  }
  #rating-star{
    padding: 0px;
    font-size: 15px;
  }
  .name-link{
    color: black;
    &:hover{
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.btn-status-change{
  background-color: #20124D;
  border-radius: 5px;
  align-items: center;
  color: #e0ca8d;
  width: fit-content;
  text-align: center;
  padding: 10px;
  margin: 20px;
  font-weight: bold;
  &:hover{
    background-color: #0e032e;
    text-decoration: none;
    color: #f1cb61;
  }
}

.btn-view-profile{
  color: black;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 20px;

  &:hover{
  opacity: 1;
  color: black;
  text-decoration: none;
  }
}

.empty-message{
  padding-left: 20px;
}

.profile-avatar{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 20px;
}

.favorite-container{
  display: flex;
  width: fit-content;
  padding: 20px;
}

.favorite-card{
  display: inline-grid;
  background-color: #FCC010;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  margin: 0 20px 0 20px;
  #favorite-avatar{
    width: 225px;
    height: 225px;
  }
  p{
    padding-top: 10px;
  }
  #dashboard-favorite-heart{
    color: #20124D;
    margin: 0 20px 5px 78%;
    font-size: 30px;
  }
  #favorite-profile-btn{
    margin: 0px;
  }
}

.coupon-container{
  display: flex;
}

.coupon-card{
  height: 140px;
  width: 160px;
  border: 3px dotted black;
  padding: 20px;
  background-color: #FFF2CE;
  text-align: center;
  margin: 20px;


}
