// Specific CSS for your home-page
body {
  background-color: #fffcf4;
}

.info-homepage {
  color: #20124D;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Montserrat", sans-serif;
  margin-left:20px;
  margin-right:20px;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 59px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin-top: 18px;
    line-height: 29px;
    font-size: 18px;
  }


}

.container-categories-home {
  padding-right: 420px;
  padding-left: 420px;
  text-align: center;
  color: #20124D;
  padding-top: 30px;
  padding-bottom: 90px;
  background: #FCC010;
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;


    h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 59px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin-top: 18px;
    line-height: 29px;
    font-size: 18px;
  }
}

.container-how-it-works {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.img-info-home {
  width: 400px;
  height: 300px;
}

.info-homepage-right {
  color: #20124D;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 30px ;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 59px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin-top: 18px;
    line-height: 29px;
    font-size: 18px;
  }
}

.title-steps {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  line-height: 59px;
  text-align: center;
  color: #20124D;
  padding-top: 30px;
}
