// Specific CSS for your home-page
body {
  background-color: #fffcf4;
}

.info-homepage {
  color: #20124D;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Montserrat", sans-serif;

  // margin-left:20px;
  // margin-right:20px;
  // border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //  background-color:#FFF2CE;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 59px;
    color: #FCC010;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin-top: 18px;
    line-height: 29px;
    font-size: 18px;
  }


}

.container-categories-home {

  text-align: center;
  color: #20124D;
  padding-top: 30px;
  padding-bottom: 90px;
  background-image: url("https://i.ibb.co/XDBTSwg/mega-creator-9.png");
  border-bottom-left-radius: 130px;
  border-bottom-right-radius: 130px;
  background-size: cover;
  background-position: center;
   height: 100%;


    h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 59px;
    padding-top: 20px;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin-top: 18px;
    line-height: 29px;
    font-size: 18px;
  }
}

.container-how-it-works {
    padding-top: 50px;
    /* padding-left: 150px; */
    /* padding-right: 150px; */
    display: flex;
    margin-left: auto;
    max-width: 1000px;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 60px;
}

.img-info-home {
  width: 400px;
  height: 300px;
}

.info-homepage-right {
  color: #20124D;
  padding-left: 80px;
  padding-right: 80px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 30px;

  //padding-top: 10px;
  //padding-bottom: 10px;
  //border-radius: 10px;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //background-color:#FFF2CE;

  h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 32px;
    font-weight: bold;
    line-height: 59px;
    color: #FCC010;
  }

  p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: 29px;
    margin-top: 18px;
    line-height: 29px;
    font-size: 18px;
  }
}

.title-steps {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  line-height: 59px;
  text-align: center;
  color: #20124D;
  padding-top: 30px;
  margin-top: 20px;
}

textarea.select2-search__field {
  width: 300px !important;
  height: 100% !important;
  position: relative;
  top: 13px;
}

.select2-container .select2-selection--multiple .select2-selection__rendered{
  margin: 0px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 0.5px solid #fffcf4;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
    height: 55px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #fcc010  1px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff2ce;
    border: 1px solid #fffcf4;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 2px;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    font-weight: 400;

}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #FCC010;
    color: white;
}

.select2-dropdown {
  border: 1px solid #fcc010;
}
