
.container-show {
  margin-left: 280px;
  margin-right: 280px;
  color: #20124D;

;

}

.profile-show-avatar  {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: #20124D;


  img  {
    border-radius: 50%;
    border: 5px solid;
    border-color: #FFF2CE;
;

  }
}



.container-profile-card {
  border: #20124D;
  border-color: #20124D;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #fffcf4;
}

.info-profile-show {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.reviews-profile-show {
  border-color: #20124D;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;

}

.profile-show {
  font-size: 30px;
}

.review-show {
  padding-bottom: 40px;
}

.container-review{
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: #20124D;
  border-color: #20124D;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  background: #fffcf4;
  margin-bottom: 40px;
}

.about-profile-show {
  padding-bottom:20px;

  p {
    margin-bottom:2px;
  }
}

.master-container-show {
  background-color: #FCC010;
  padding-top:30px;
  padding-bottom:30px;
}
