
.container-show {
  margin-left: 280px;
  margin-right: 280px;
;

}

.profile-show-avatar  {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: bold;
  color: #20124D;

  img  {
    border-radius: 50%;
    border: 5px;
    border-color: #FCC010;
  }
}



.container-profile-card {
  border: #20124D;
  border-color: #20124D;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.info-profile-show {
  margin-left: 80px;
  margin-right: 80px;
}

.reviews-profile-show {
  border-color: #20124D;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.profile-show {
  font-size: 30px;
}

.master-container-show {
  background: linear-gradient(42deg, rgba(252,240,204,1) 0%, rgba(252,192,16,1) 100%);

}
