<div class="dashboard-element-item">
  <p><strong>Helper: </strong><%= request.helper.name %></p>
  <p><strong>Task description: </strong><%= request.task_description  %></p>
  <p><strong>Duration: </strong><%= request.duration %>hr </p>
  <p><strong>Status: </strong><%= request.status %></p>
</div>
