<div class="footer">
  <div class="footer-logo footer-links">
     <p>
        <img src="https://i.ibb.co/p01q5Nj/1-yes.png"/>
    </p>
  </div>
  <div class="footer-links">

      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-top">
      <a href="/">Go back up</a>
  </div>
</div>
