
<div class="container-home">
  <div class="master-banner-container">
    <div class="homepage-container">

      <div class="homepage-container-img">

        <div>
          <div class="title-home-banner">
            <h1>Everyday life made easier</h1>
            <p> Find help for any of your daily tasks from friendly volunteers. </p
            >
          </div>

          <div class="searchbar-home">
            <div class="search-form-home">
              <form action="">
                <input class="search-form-home" type="text" placeholder="    Type a task to help with ...">
              </form>
            </div>

            <div class="search-btn-home btn-warning">
              <%= link_to "Search", new_help_request_path, class:"search-btn"%>
            </div>

          </div>
        </div>

        <div class="img-home-banner">
          <img src="https://i.ibb.co/svytDdL/mega-creator-1.png" alt="senior-picture" class="img-home-banner">
        </div>

      </div>
    </div>
  </div>

  <div class="container-categories-home">
    <h2>Discover our tasks categories</h2>
    <p> These are tasks are frequenty requested. Click on one of our options to find someone to help you.</p>


    <div class="container-cards-home" data-aos="fade-up">

      <div class="container-cards-home-1">

        <div class="card-task-home">
          <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Grocery shopping</h5>
          </div>
        </div>

        <div class="card-task-home">
          <img src="https://i.ibb.co/276SYTS/car-repair.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Home repairs</h5>
          </div>
        </div>

        <div class="card-task-home">
          <img src="https://i.ibb.co/xDzFvGh/wheelchair.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Wheelchair assistance</h5>
          </div>
        </div>

        <div class="card-task-home">
          <img src="https://i.ibb.co/HVFrR2k/mop.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Cleaning</h5>
          </div>
        </div>
      </div>

      <div class="container-cards-home-2">
        <div class="card-task-home">
          <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Cooking</h5>
          </div>
        </div>

        <div class="card-task-home">
          <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Laundry</h5>
          </div>
        </div>

        <div class="card-task-home">
          <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Activities</h5>
          </div>
        </div>

        <div class="card-task-home">
          <img src="https://i.ibb.co/RGn3Q6W/grocery-cart.png" alt="groceries" class="task-icon-home">
          <div class="card-body">
            <h5 class="task-name-card">Furniture assembly</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

<h2 class="title-steps">Get help in 3 easy steps</h2>

  <div class="container-how-it-works">
     <img src="https://i.ibb.co/v36Zp8T/undraw-Publish-post-re-wmql.png" alt="Place-holder" class="img-info-home">

        <div class="info-homepage-right" data-aos="zoom-out-left">
          <h2> Step 1 </h2>
          <h3> Complete the form with the task information  </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis purus laoreet fames fermentum. Fermentum, arcu lacus lobortis sed tellus. Vitae feugiat tincidunt praesent integer diam adipiscing diam condimentum. Porttitor dolor convallis eleifend velit cras purus. Sodales tincidunt risus pulvinar vulputate molestie nunc.</p>
        </div>
  </div>

    <div class="container-how-it-works">

        <div class="info-homepage" data-aos="fade-up-right">
          <h2> Step 2 </h2>
          <h3>Choose your Silverhelper by reviews, skills(, and price).</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis purus laoreet fames fermentum. Fermentum, arcu lacus lobortis sed tellus. Vitae feugiat tincidunt praesent integer diam adipiscing diam condimentum. Porttitor dolor convallis eleifend velit cras purus. Sodales tincidunt risus pulvinar vulputate molestie nunc.</p>
        </div>

        <img src="https://i.ibb.co/MG1Gr73/undraw-Ride-a-bicycle-re-6tjy.png" alt="Place-holder" class="img-info-home">
  </div>

  <div class="container-how-it-works" >
        <img src="https://i.ibb.co/MG1Gr73/undraw-Ride-a-bicycle-re-6tjy.png" alt="Place-holder" class="img-info-home">

        <div class="info-homepage-right" data-aos="fade-up-left">
          <h2> Step 3 </h2>
          <h3> Schedule when it works for you. </h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis purus laoreet fames fermentum. Fermentum, arcu lacus lobortis sed tellus. Vitae feugiat tincidunt praesent integer diam adipiscing diam condimentum. Porttitor dolor convallis eleifend velit cras purus. Sodales tincidunt risus pulvinar vulputate molestie nunc.</p>
        </div>


  </div>





</div>
