<div class="master-container">
  <div class="homepage-container">
    <div class="container-navbar-home  d-flex p-2">
      <div>
        <p> Logo placeholder</p>
      </div>

      <div>
        <p> My profile</p>

      </div>

    </div>

    <div class="homepage-container-img">

      <div>
        <div class="title-home-banner">
          <h1><strong>Help when you need it, at your fingertips</strong></h1>
          <h6> Find help for any of your daily tasks  from friendly volunteers. </h6>
        </div>

        <div class="searchbar-home">
          <div class="search-form-home">
            <form action="">
              <input class="search-form-home" type="text" placeholder="Type a task to help with ...">
            </form>
          </div>

          <div class="search-btn-home btn-warning">
          <%= link_to "Search", new_help_request_path, class:"search-btn"%>
          </div>

        </div>
      </div>

      <div class="img-home-banner">
        <img src="https://i.ibb.co/mRHdzhN/mega-creator.png" alt="senior-picture" class="img-home-banner">
      </div>

    </div>
  </div>
</div>

<div class="container-categories-home">

  <div>
    <h2> Task categories </h2>
    <h6> Silverhelp is a website where you can find help for any of your daily tasks from friendly volunteers that hope to give back, Click here to see how it works </h6>
  </div>

   <div>
  </div>

</div>
