<div class="dashboard-element-item">
  <p><strong><i class="far fa-user"></i></strong><%= request.senior.name %></p>
  <p><strong><i class="far fa-comment-dots"></i></strong><%= request.task_description  %></p>
  <p><strong><i class="fas fa-hourglass-start"></i></strong><%= request.duration %>hr </p>
  <p><strong><i class="fas fa-spinner"></i></strong><%= request.status %></p>
</div>
