<h3>Your Saved Coupons</h3>
  <% if @coupons.empty? %>
    <p class="empty-message">You have no saved coupons.</p>
  <% else %>
    <div class="favorite-container">
      <% @coupons.each do |coupon| %>
        <div class="favorite-card">
            <p><strong><%= coupon.name %></strong></p>
        </div>
       <% end %>
    </div>
  <% end %>
