.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #FCC010;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-mediumroundindex{
  width:192px;
  height:192px;
  border-radius: 50%;
  margin-left: 20px;
  border: 2px solid #FCC010;
}
