// Buttons on the index page

.btn-rounded{
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin: 20px;
  text-align: center;
  border-radius: 16px;
  transition: background 0.3s ease;
  position: relative;
  top: 16px;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.btn-brownish {
  color: #F59D19 ;
  background-color: #fffcf4;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 4px;
  width: 150.29px;
  height: 56px;
  padding: 20px;
  transition: 0.5s;
  border: 1px solid $strongyellow;
  padding-left: 38px;
  padding-right: 38px;

  &:hover {
    color: #fffcf4;
    text-decoration: none;
    background-color: #F59D19;
    border: none;
  }
}

.btn-brownishghost{
  color: #fffcf4;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  font-weight: 600;
  background: #FCC010;
  box-sizing: border-box;
  border-radius: 4px;
  width: 150.29px;
  height: 56px;
  transition: 0.5s;
  border: none;
  &:hover {
    color: #fffcf4;
    text-decoration: none;
    background-color: #F59D19;
    border: none;
  }
}


// Homepage Button

.search-btn:hover {
  text-decoration: none;
}

// Review

.btn-review{
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
  background-color: #FCC010;
  padding-top: 10px;
  padding-bottom: 10px;


}


.btn-next{
  padding: 8px 48px 8px 8px;
  background: url("https://cdn-icons-png.flaticon.com/512/467/467282.png");
  background-position: 100% 50%;

}

.btn-previous{
  padding: 8px 8px 8px 32px;
  background: url("https://cdn-icons-png.flaticon.com/512/467/467274.png");
  background-position: 0% 50%;
}

.btn-next, .btn-previous{
 border: 1px solid #20124D;
 border-radius: 8px;
 background-size: 24px 24px;
 background-repeat: no-repeat;
 background-color: white ;
}

.disabled{
  pointer-events: none;
}

// Coupon

.btn-coupon{
  text-decoration: none;
  background-color: #FCC010;
  padding: 8px 16px;
  margin: 8px 0px;
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  color: #fffcf4;
  font-weight: 600px;
  &:hover{
    text-decoration: none !important;
    background-color: #F59D19;
    color: black;
  }
}
