.btn-rounded{
  text-decoration: none;
  color: white;
  font-size: 32px;
  margin: 20px;
  text-align: center;
  border-radius: 16px;
  transition: background 0.3s ease;
  position: relative;
  top: 16px;
  &:hover{
    text-decoration: none;
    color: white;
  }
}

.btn-brownish{
  background-color: #CE8703;
  padding: 8px 24px;
  &:hover{
    background-color: #8f5e03;
  }
}

.btn-brownishghost{
  border: 1px solid #CE8703;
  padding: 8px 16px;
  font-weight: bold;
  background-color: transparent;
  &:hover{
    background-color: #CE8703;
  }
}

.btn-formalign{
  margin: 0px;
  top: 0px;
}
