$lightyellow: #FFE082;
$strongyellow: #FCC010;
$whiteyellow: #727272;
$darkblue: #20124D;
$verylightyellow: #FFF2CE;

// Everything here is for the helper index
.grid-helperindex{
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 16px;
  padding: 0px 16px;
  margin-left: 20px;
  margin-right: 30px;
  margin-bottom: 75px;
  justify-content: flex-end;
}

.card-helperindex {
  background-color: $verylightyellow;
  border: 0.5px solid #FCC010;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  height: 250px ;
  width: 800px;

}

.txt-alignhelperindex {
  font-size: 25px;
  margin-left: 55px;
  color:$darkblue;
}

.h2-helperindex {
  display: flex;
  align-content:center;
  padding-top: 50px;

}

.card-helperinfo{
  background-color: $strongyellow;
  padding: 32px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helperavatar{
  margin: 10px;
}

.helperindex-middlebutton{
  z-index: 1;
}

.container-helperscores{

  display: flex;

}

.helpertitle {
  font-size: 32px;
  margin: 16px;
  margin-bottom:0px;
}

.helperreviews {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.helperscores{
  background-color: $lightyellow;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-weight: 600;
}

.txt-helperscoreexplain{
  color: $darkblue;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 400;
}

.card-title {
  color: $darkblue;
  margin-bottom: 40px;
}

.card-body-index {
  margin-left: 20px;

}

.btns-card-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  height: 90%;
  margin-top: 20px;
}
