
.card-task-home {
  height: 180px;
  width: 180px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 22px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 15px;
  transition: 0.5s;
  background: #FFF2CE;

  &:hover {
  background-color: #FFF2CE;
  box-shadow:  0 0 15px rgba(0,0,0,0.4);
  transform: translate(10px, -10px);
  text-decoration: none;
  }
}

.task-icon-home {
  height: 80px;
  width: 80px;

}

.task-name-card {
  font-size: 16px;
  text-decoration: none !important;
  color: black;

}

.task-name-card:hover {
  font-size: 16px;
  color: black;
  a {
      text-decoration: none !important;
  }
}

a .task-name-card:hover {
  font-size: 16px;
  text-decoration: none !important;
  color: black;

}

.task-name-card:link {
  font-size: 16px;
  text-decoration: none;
  color: black;

}

.whatever {
  a{
    text-decoration: none;
  }
}

.container-cards-home {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

.container-cards-home-1 {
  display: flex;
  justify-content:flex-start;
}

.container-cards-home-2 {
  display: flex;
  justify-content:flex-end;
}
