.footer {
  background-color: #FCC010;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 8px 16px 8px 16px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;


  img {
    height: 48px;
    padding-left: 30px;
    width: 200px;
  }
}

.fab, .fas {
  color: #20124D;
  font-size: 25px;
  padding: 5px;
  &:hover{
    color: #593db4;
  }
}

.page-container {
display: grid;
min-height: 100vh;
grid-template-rows: auto 1fr auto;
}

#login-btn-home {
  color: #FFF2CE;
  font-weight: 600;
}

#page-top{
  color: #20124D;
  font-size: 20px;
}

.footer-top{
  text-align: center;
}
