// TO DELETE THIS WHEN WE ACTUALLY DO THE FORM PROPERLY!
$lightyellow: #FFE082;
$strongyellow: #FCC010;
$whiteyellow: #727272;
$darkblue: #20124D;
$verylightyellow: #FFF2CE;

.getfooterdown{
  min-height: 90vh;
}
