$lightyellow: #FFE082;
$strongyellow: #FCC010;
$whiteyellow: #727272;
$darkblue: #20124D;
$verylightyellow: #FFF2CE;

.header-toppage {
  height: 150px;
  width: 300px;
  margin-left: 60px;


}

.main-container-index {
  display: flex;
  justify-content: center;
}

.header-toppage-title {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #20124D;
}

.header-toppage-body {
  background-color: $verylightyellow;
  border: 0.5px solid #FCC010;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  height: 460px;
  position: sticky;
  position: -webkit-sticky;
  padding: 30px;

}

.form-index {
  border-radius: 5px;
  border: 0.5px solid #FCC010;
  width: 220px;
  margin-bottom: 20px;
}

.container-title-grid {
  display: flex;
  flex-direction: column;
  align-items: left;
}

 .main-container-index {
  background-image: linear-gradient(rgba(252, 193, 16,0.1),rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  height: 100%;

}
