.navbar-lewagon {
  justify-content: space-between;
  background: #FFF2CE;
  height: 80px;
  padding-left: 148px;
  padding-right: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-left: 148px;
}

.navbar-light .navbar-nav .nav-link  {
  font-family: "Montserrat", sans-serif;
  color: #20124D;
  margin-left: 50px;
  margin-right:50px;


}

img {
  width: 200px;
  height: 200px;
}

.navbar-options {
  display: inline-block;

}

.nav-item {
   font-weight: 500;
   font-size: 18px;

  li{
    &:hover {
      border: #FCC010;
    }
  }
}

#login-btn-home {
  background: #FCC010;
  border-radius: 5px;
  align-items: center;
  width: 100px;
  text-align: center;
}
